// Couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gradient: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

//Fonds
$color-background-menus: #f7f7f7;
$color-background-footer:#2E3236;
$color-img-text: #74E085